<!DOCTYPE html>

<html lang="en">
  <head>
	    <meta charset="utf-8">
	    <title>Carousel Template &middot; Bootstrap</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <!-- Le styles -->
	    <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet">
	    <link href="../assets/stylesheets/bootstrap-responsive.css" rel="stylesheet">


	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="../assets/js/html5shiv.js"></script>
	    <![endif]-->

	    <!-- Fav and touch icons -->
	    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
	      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
	                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>



  <body data-spy="scroll" data-target=".navbar">  		
  		<!-- NAVBAR
	    ================================================== -->
	    <header class="navbar navbar-fixed-top navbar-inverse">
	        <div class="navbar-inner">            
	            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
	            <button type="button" class="btn btn-navbar" data-spy="scroll" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
	            </button>
	            
	            <div class="brand">Tseng Wen Chi</div>
	   
	            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
	            <div id="home" class="nav-collapse collapse" >
		            <ul class="nav pull-center" >
		                <li><a href="#home">Home</a></li>
		                <li><a href="#about">About</a></li>
		                <li><a href="#projects">Projects</a></li>
		                <li><a href="#Photography">Photography</a></li>
		                <li><a href="#contact">Contact</a></li>
		            </ul>
	            </div><!--/.nav-collapse -->
	        </div><!-- /.navbar-inner -->
	    </header><!-- /.navbar -->




	    <!-- Carousel
	    ================================================== -->
	    <div id="myCarousel" class="carousel slide">
      		<!-- Indicators -->
	      	<ol class="carousel-indicators">
	      	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	      	    <li data-target="#myCarousel" data-slide-to="1"></li>
	      		<li data-target="#myCarousel" data-slide-to="2"></li>
	      		<li data-target="#myCarousel" data-slide-to="3"></li>
	      		<li data-target="#myCarousel" data-slide-to="4"></li>
	     	</ol>
			<div class="carousel-inner">
		        <div class="item active">
		          <% image_tag 'slide-01.jpg' %>
		          <div class="container">
		            <div class="carousel-caption">
		              <h1>Example headline.</h1>
		              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
		            </div>
		          </div>
		        </div>
		        <div class="item">
		          <% image_tag 'slide-02.jpg' %>
		          <div class="container">
		            <div class="carousel-caption">
		              <h1>Another example headline.</h1>
		              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              <a class="btn btn-large btn-primary" href="#">Learn more</a>
		            </div>
		          </div>
		        </div>
		        <div class="item">
		          <% image_tag 'slide-03.jpg' %>
		          <div class="container">
		            <div class="carousel-caption">
		              <h1>One more for good measure.</h1>
		              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
		            </div>
		          </div>
		        </div>
		        <div class="item">
		          <% image_tag 'slide-04.jpg' %>
		          <div class="container">
		            <div class="carousel-caption">
		              <h1>One more for good measure.</h1>
		              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
		            </div>
		          </div>
		        </div>
		        <div class="item">
		          <% image_tag 'slide-05.jpg' %>
		          <div class="container">
		            <div class="carousel-caption">
		              <h1>One more for good measure.</h1>
		              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
		            </div>
		          </div>
		        </div>
	      </div>
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	    </div><!-- /.carousel -->



	    <!-- Marketing messaging and featurettes
	    ================================================== -->
	    <!-- Wrap the rest of the page in another container to center all the content. -->

	    <div class="container">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<% image_tag 'slide-02.jpg' %>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		    <div id="about">
		    	<h1>About</h1>
		    </div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<img src="assets/images/slide-03.jpg" alt=""/>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		    <div id="projects">
		    	<h1>Projects</h1>
		    </div>


	      <!-- FOOTER -->
	      <footer>
	        <p class="pull-right"><a href="#">Back to top</a></p>
	        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	      </footer>

	    </div><!-- /.container -->
  </body>
</html>


